
form h1{
    text-align: center;
}
input{
    border: 2px solid darkred;
    width:90%;
    height:40px;
    box-shadow: 1px 1px 1px 5px rgb(116, 79, 79);
}
.container{
    background-color: whitesmoke;
    margin-top: 20px;
    height: 500px;
    box-shadow: 2px 2px 2px 2px;
}
button{
    height:40px;
    border-radius: 2px !important;
}